{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <title>Hello</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'profile' %}">Profile</a>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="text-user">Tell me what you feel!</p>
            </div>
            <div class="col">
                <div class ="form-class">
                    <form action="{% url 'index' %}" method="POST">
                        {% csrf_token %}
                        {{ statusform }}
                        <div class="form-group">
                            <button name="submit" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div class="table-container">
        <div class="table-display">
            <table style="">
                {% if all_status %}
                <h2 class="status-made">Status(es) you have made</h2>
                <tbody>
                    {% for i in all_status %}
                    <tr class="warning">
                        <td> {{i.status}} </td>
                        <td> {{i.current_time}} </td>
                    {% endfor %}
                </tbody>
                {% else %}
                <h2 class="warning-text">There's no activity</h2>
                {% endif %}
            </table>
        </div>
    </div>
    
    
</body>
</html>