@import url('https://fonts.googleapis.com/css?family=Rasa');
@import url('https://fonts.googleapis.com/css?family=Raleway:600');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');
.row.content {height: 1200px}

    /* Set gray background color and 100% height */
/* Set black background color, white text and some padding */
.col-sm-9{
    background-color: #e5e6e8;
}

:root {
  --background: rgb(0, 214, 170);
}

*, *::before, *::after {
  box-sizing: border-box;
}

.my-name{
    color: white;
    font-family: 'Rasa', serif;
    font-size: 4rem;
}
body {
	margin: 0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}



.my-photo{
    height: 25rem;
    margin-bottom: .5rem;
}
.content {
  height: 200vh;
  background-color: #ffffff;
}
.img-container{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.img-container img{
    width: 3.7rem;
    height: auto;
    margin: .3rem .3rem;
}
.desc-container{
    text-align: center;
    margin-top: 10rem;
}
/* navigation styles start here */

header {
  background: url("/static/img/image.png");
  text-align: center;
  position: sticky;
  z-index: 999;
  width: 100%;
  height: 15rem;
  opacity: 100%;
}

/* changed this from the tutorial video to
   allow it to gain focus, making it tabbable */
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
 /* background-image: url('image.png');*/
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  font-size: 2rem;
}

.left-nav{
    float: left;
}
nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle:checked ~ nav{
    background-color: white;
}
@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2 / 3;

  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1,1);
  }
}
.text-container{
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    padding-top: 10rem;
}
/*.row.content {height: 1500px}*/

/* Set gray background color and 100% height */
.sidenav {
    background-color: #4c4c4c;
    height: 100%;
}
.main-content{
    height: 100%;
}
/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
  float: bottom;
}
.logo{
    margin-top: 2rem;
    width: 8rem;
    height: auto;
}
.desc{
    color: white;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
}

/* On small screens, set height to 'auto' for sidenav and grid */

@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;}
  .main-content{
      height: 750px;
  }
  #exp-square{
      height: 30rem;
  }
}

@media screen and (max-width: 800px){
    nav a{
        color: black;
    }
}
@media screen and (max-width: 855px){
    .img-container img{
        height: 2.5rem;
        width: auto;
    }
}
@media screen and (max-width: 1084px) {
    .my-photo{
        height: 15rem;
    }
}
/* On small screens, set height to 'auto' for sidenav and grid */

footer{
    background-color: #232323;
}
footer p{
    font-size: 2rem;
    top: 50%;
    bottom: 50%;
}

/*contact css */
.message{
    margin-left: 5rem;
    padding-top: 1rem;
    font-family: 'Rasa', serif;
    font-size: 4rem;
}
.name-input{
    margin-left: 5rem;
}

#exampleFormControlInput1{

}
.form-input{

}


.email-input{
    margin-left: 5rem;
    margin-top: 1rem;
}
.subject-input{
    margin-left: 5rem;
    margin-top: 1rem;
}

.submit-btn{
    float: right;
    margin-top: 1rem;
}
.submit-btn-left{
    margin-top: 5rem;
    margin-left: 1rem;
}
.date-input{
    margin-top: 1rem;
    margin-left: 5rem;
}
.message-input{
    margin-top: 1rem;
    margin-left: 5rem;
}
/* about css*/
#fav-square{
    height: 2rem;
    width: 30rem;
    background-color: #80B0FC;
    border-radius: 20px;
    margin: 0
}

.interest{
    padding-left: 3rem;
}
.interest-title{
    margin: 0;
    font-family: 'Rasa', serif;
    font-size: 2rem;
}


.text-under-square{
    font-family: 'Rasa', serif;
    font-size: 2rem;
}

.familiar-title{
    font-size: 2rem;
}


/* experiences styling*/
@import url(//fonts.googleapis.com/css?family=Open+Sans);
body {
    font-family: 'Open Sans';
    font-weight: 300;
}

h2 {
    color: #4679bd;
    font-size: 3rem;
    text-align: center;
}

p.footer {
    margin-bottom: 20px;
    color: #999999;
    font-size: 18px;
    text-align: center;
}

/* -----------------------------------------------
 * Timeline
 * --------------------------------------------- */
 .timeline {
    list-style: none;
    padding: 10px 0;
    position: relative;
    font-weight: 300;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 2px;
    background: #ffffff;
    left: 50%;
    margin-left: -1.5px;
}
.timeline > li {
    margin-bottom: 20px;
    position: relative;
    width: 50%;
    float: left;
    clear: left;
}
.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    width: calc(100% - 25px);
    width: -moz-calc(100% - 25px);
    width: -webkit-calc(100% - 25px);
    float: left;
    border: 1px solid #dcdcdc;
    background: #ffffff;
    position: relative;
}
.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #dcdcdc;
    border-right: 0 solid #dcdcdc;
    border-bottom: 15px solid transparent;
    content:" ";
}
.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #ffffff;
    border-right: 0 solid #ffffff;
    border-bottom: 14px solid transparent;
    content:" ";
}
.timeline > li > .timeline-badge {
    color: #ffffff;
    width: 24px;
    height: 24px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 16px;
    right: -12px;
    z-index: 100;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-badge > a {
    color: #ffffff !important;
}
.timeline-badge a:hover {
    color: #dcdcdc !important;
}
.timeline-title {
    margin-top: 0;
    color: inherit;
}
.timeline-heading h4 {
    font-weight: 400;
    padding: 0 15px;
    color: #4679bd;
}
.timeline-body > p, .timeline-body > ul {
    padding: 10px 15px;
    margin-bottom: 0;
}
.timeline-footer {
    padding: 5px 15px;
    background-color:#f4f4f4;
    height: 2.5rem;
}
.timeline-footer p { margin-bottom: 0; }
.timeline-footer > a {
    cursor: pointer;
    text-decoration: none;
}
.timeline > li.timeline-inverted {
    float: right;
    clear: right;
}
.timeline > li:nth-child(2) {
    margin-top: 60px;
}
.timeline > li.timeline-inverted > .timeline-badge {
    left: -12px;
}
.no-float {
    float: none !important;
}
@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }
    ul.timeline > li > .timeline-list{
        margin-bottom: 0px;
        position: relative;
        width:100%;
        float: left;
        clear: left;
    }
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 65px);
        width: -moz-calc(100% - 65px);
        width: -webkit-calc(100% - 65px);
    }
    ul.timeline > li > .timeline-badge {
        left: 28px;
        margin-left: 0;
        top: 16px;
    }
    ul.timeline > li > .timeline-panel {
        float: right;
    }
    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
    .timeline > li.timeline-inverted {
        float: left;
        clear: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .timeline > li.timeline-inverted > .timeline-badge {
        left: 28px;
    }
}
.form-input {
    font-family: 'Raleway', 'sans-serif';
    font-size: 1.5rem;
    width: 100%;
}
.table-form {
    font-family: 'Raleway', 'sans-serif';
}