@import url('https://fonts.googleapis.com/css?family=Rasa');
@import url('https://fonts.googleapis.com/css?family=Raleway:600');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');


body {
    background: linear-gradient(black, pink);
}

.table-display {
    text-align:center;
}

.text-user {
    font-family: 'Rasa', 'sans-serif';
    color : white;
    font-size: 1.5rem;
    padding-top:10%;
}

label {
    font-family: 'Rasa', 'sans-serif';
    color : white;
    font-size: 1.5rem;
}

.status-made {
    font-family: 'Raleway', 'sans-serif';
    font-size: 3rem;
}
td {
    font-family: 'Rasa', 'sans-serif';
    font-size: 1.5rem;
}
.table-container {
    margin-left:15%;
    width: 70%;
    background-color: white;
}

table {
    width:100%;
    text-align: center;
}